export PROJECT_ID=your-project-id
export SOURCE_DATASET_ID=your-source-dataset-name
export TARGET_DATASET_ID=your-target-dataset-name
export LOCATION=your-location
# רגע לפני המחיקה:
export SNAPSHOT_EPOCH_MS=1756107767930
export SNAPSHOT_TIMESTAMP="2025-08-25 10:42:37 UTC"